@import "tailwindcss";

:root {
  --bg: #030303;
  --text: #ffffff;
  
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  background-color: #030303;
  width: 100vw;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Custom Golden Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #8A6E3F, #E5C27A, #8A6E3F);
  border-radius: 10px;
  border: 2px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: #E5C27A;
}
